@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #333333;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-app {
  background-color: #87ceeb;
  padding: 30px;
  border-radius: 40px;
}

.input-search {
  display: flex;
  justify-content: end;
}
.search-city {
  padding: 12px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  font-size: 12px;
}

.search-city-button {
  border-radius: 0px 50px 50px 0px;
  padding: 12px;
  border: none;
}

.container {
  line-height: 1.5;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 20px;
}

.current-temperature-emoji {
  font-size: 80px;
}
.current-temperature-data {
  font-size: 40px;
  font-weight: 600;
}

.humidity-wind-container {
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  padding: 20px;
}

footer {
  border-top: 1px solid #33333346;
  margin-top: 20px;
  padding-top: 20px;
}
